@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotate_dice {
  0% {
    color: black;
    transform: rotate(0);
  }
  50% {
    color: darkgoldenrod;
  }
  100% {
    color: black;
    transform: rotate(720deg);
  }
}