@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotate_dice {
  0% {
    color: black;
    transform: rotate(0);
  }
  50% {
    color: darkgoldenrod;
  }
  100% {
    color: black;
    transform: rotate(720deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes pulsing_crown {
0% {
  transform: translateY(0%);
}
100% {
  transform: translateY(-30%);
}
}

@keyframes pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  60% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes rotate_waiting_dice {
  0% {
    color: white;
    transform: rotate(0);
  }
  10% {
    color: white;
  }
  20% {
    color: greenyellow;
  }
30% {
    color: #0b3cb8;
  }
  40% {
    color: #b80b33;
  }
  50% {
    color: #0bb85f;
  }
  60% {
    color: #b80b0b;
  }
  70% {
    color: #760bb8;
  }
  80% {
    color: #15342c;
  }
  90% {
color: red;
  }
  100% {
    color: darkgoldenrod;
    transform: rotate(720deg);
  }
}