@charset "UTF-8";
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes rotate_dice {
  0% {
    color: black;
    transform: rotate(0);
  }
  50% {
    color: darkgoldenrod;
  }
  100% {
    color: black;
    transform: rotate(720deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes pulsing_crown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  60% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes rotate_waiting_dice {
  0% {
    color: white;
    transform: rotate(0);
  }
  10% {
    color: white;
  }
  20% {
    color: greenyellow;
  }
  30% {
    color: #0b3cb8;
  }
  40% {
    color: #b80b33;
  }
  50% {
    color: #0bb85f;
  }
  60% {
    color: #b80b0b;
  }
  70% {
    color: #760bb8;
  }
  80% {
    color: #15342c;
  }
  90% {
    color: red;
  }
  100% {
    color: darkgoldenrod;
    transform: rotate(720deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flash {
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 2rem 3rem;
  background-color: #fff;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  z-index: 1;
  text-align: center;
  border-radius: 100vh;
  transform: translate(-50%, -50%);
}
.flash__disappear {
  animation: disappear 1s 4s ease both;
}
.flash i {
  font-size: 2rem;
  animation: rotate_dice 1s ease;
  margin-top: 0.5rem;
}
.flash i:nth-of-type(1) {
  animation-delay: 100ms;
}
.flash i:nth-of-type(2) {
  animation-delay: 200ms;
}
.flash i:nth-of-type(3) {
  animation-delay: 300ms;
}
.flash i:nth-of-type(4) {
  animation-delay: 400ms;
}
.flash i:nth-of-type(5) {
  animation-delay: 500ms;
}

.header {
  display: flex;
  flex-direction: row;
}
.header .logo {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.header .logo h1 {
  font-size: 2.7rem;
  padding: 1rem 2rem;
  z-index: 1;
  font-family: "Imperial Script", cursive;
  text-shadow: 1px 1px 1px black, 2px 2px 2px darkgoldenrod;
  text-transform: capitalize;
}
.header .logo i {
  position: absolute;
  color: gold;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%) rotate(-20deg);
  font-size: 5rem;
}
.header .nav {
  flex-grow: 4;
  background-color: black;
  display: flex;
  align-items: center;
  display: none;
}
.header .nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header .nav ul li {
  padding: 0 2rem;
}
.header .nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.header .nav ul li a:hover {
  color: gold;
}

.main {
  position: relative;
  border-radius: 3rem;
  background-color: white;
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}
.main .start-game-screen {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  animation: fadeIn 1.5s 0.6s ease both;
}
.main .start-game-screen h2 {
  text-align: center;
}
.main .start-game-screen a {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  display: block;
  background-color: gold;
  border-radius: 100vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1rem;
  transition: 0.3s ease;
}
.main .start-game-screen a:hover {
  background-color: goldenrod;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  color: black;
}
.main .board {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  padding: 1rem;
}
.main .board .waiting-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .board .waiting-text .waiting-dice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .board .waiting-text .waiting-dice i {
  transform-origin: center center;
  text-align: center;
  font-size: 20rem;
  animation: rotate_waiting_dice 2s infinite alternate ease;
  opacity: 0.2;
}
.main .board .waiting-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
}
.main .board-stats {
  padding: 1rem;
}
.main .board-player {
  position: absolute;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.main .board-playerstats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .board-playerinfo {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.main .board-playerinfo__active {
  background-color: gold;
  box-shadow: 3px 3px 5px 2px rgba(184, 134, 11, 0.4);
}
.main .board-playerinfo__crowned::before {
  content: "👑";
  display: block;
  text-align: center;
  animation: pulsing_crown 1s ease-in-out infinite both alternate;
}
.main .board-dices {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 5rem;
  position: relative;
  animation: fadeIn 1.5s 0.6s ease both;
}
.main .board-dices form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .board-dices form .board-cup {
  height: 8rem;
  width: 8rem;
  color: white;
  font-size: 1rem;
  aspect-ratio: 1;
  padding: 3rem;
  margin: 2rem;
  border-radius: 100vh;
  background-color: red;
  border: 5px solid darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.main .board-dices form .board-cup:hover {
  background-color: darkred;
  box-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, #ff0000 0 0 20px, #ff0000 0 0 30px, #ff0000 0 0 40px, #ff0000 0 0 50px, #ff0000 0 0 75px;
}
.main .board-dices form label {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
}
.main .board-dices form label i {
  transition: 0.3s;
}
.main .board-dices form label i:hover {
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, darkgoldenrod 0 0 20px, darkgoldenrod 0 0 30px, darkgoldenrod 0 0 40px, darkgoldenrod 0 0 50px, darkgoldenrod 0 0 75px;
}
.main .board-dices form label i:after {
  content: "🗘";
  display: block;
  font-size: 2rem;
  transform: rotate(30deg) scale(0);
  position: absolute;
  top: 0;
  right: -2rem;
  opacity: 0;
  transition: all 0.4s, opacity 0.3s 0.1s;
  color: #650000;
}
.main .board-dices form label input {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.main .board-dices form label input:checked + i {
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, #ff0000 0 0 20px, #ff0000 0 0 30px, #ff0000 0 0 40px, #ff0000 0 0 50px, #ff0000 0 0 75px;
  transform: rotate(-30deg) scale(1.1);
}
.main .board-dices form label input:checked + i:hover {
  color: #212121;
}
.main .board-dices form label input:focus-visible + i {
  color: #212121;
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, darkgoldenrod 0 0 20px, darkgoldenrod 0 0 30px, darkgoldenrod 0 0 40px, darkgoldenrod 0 0 50px, darkgoldenrod 0 0 75px;
}
.main .board-dices form label input:checked + i:after {
  opacity: 1;
  animation: rotate 0.4s 0.1s ease-out both;
}
.main .solo-form {
  animation: fadeIn 1.5s 0.6s ease both;
}
.main .solo-form input, .main .solo-form select {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 100vh;
  outline: 1px solid darkgoldenrod;
  border: 2px solid white;
  background-color: #fff;
  transition: 0.3s;
}
.main .solo-form input:focus, .main .solo-form select:focus {
  border: 2px solid darkgoldenrod;
}
.main .solo-form button {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  display: block;
  background-color: gold;
  border-radius: 100vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1rem;
  transition: 0.3s ease;
}
.main .solo-form button:hover, .main .solo-form button:focus-visible {
  background-color: goldenrod;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  color: black;
}
.main .solo-form select {
  width: 150px;
}
.main .solo-form i {
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.main .solo-form i:after {
  display: none;
  content: "Łatwy: komputer nie przerzuca kości. Średni: komputer przerzuca kości. Trudny: komputer patrzy na Twój wynik i przerzuca kości.";
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  width: 150px;
  padding: 2rem;
  line-height: normal;
  border-radius: 1rem;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, -45%);
  border: 1px solid darkgoldenrod;
  transition: 0.3s;
  background-color: #fff;
}
.main .solo-form i:hover {
  color: darkgoldenrod;
}
.main .solo-form i:hover::after {
  display: block;
}
.main .winner-box {
  animation: fadeIn 1.5s 0.6s ease both;
}
.main .winner-box .win-text i {
  color: gold;
  animation: rotate 0.7s 2s ease both;
  text-shadow: 1px 1px 1px black, 2px 2px 2px darkgoldenrod;
}
.main .winner-box a {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  display: block;
  background-color: gold;
  border-radius: 100vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1rem;
  transition: 0.3s ease;
}
.main .winner-box a:hover, .main .winner-box a:focus-visible {
  background-color: goldenrod;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  color: black;
}
.main .win-playerstats {
  animation: fadeIn 1.5s 0.6s ease both;
  margin: 2rem;
}
.main .win-playerstats .board-playerinfo {
  margin: 2rem;
}
.main ul {
  list-style-type: none;
}
.main .multiplayer-wrapper {
  text-align: center;
  padding: 2rem;
}
.main .multiplayer-wrapper button {
  background-color: #fff;
  border: none;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transform-origin: center 60%;
}
.main .multiplayer-wrapper button:hover {
  animation: rotate 0.5s ease both;
}
.main .multiplayer-wrapper a {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  display: block;
  background-color: gold;
  border-radius: 100vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1rem;
  transition: 0.3s ease;
}
.main .multiplayer-wrapper a:hover, .main .multiplayer-wrapper a:focus-visible {
  background-color: goldenrod;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  color: black;
}
.main .multiplayer-wrapper .multiplayer-rooms {
  padding: 1rem 2rem;
  border: 2px solid black;
  border-collapse: collapse;
}
.main .multiplayer-wrapper .multiplayer-rooms tr td, .main .multiplayer-wrapper .multiplayer-rooms tr th {
  padding: 1rem 2rem;
  border: 1px solid black;
}

@media all and (max-width: 934px) {
  .main .board-dices {
    flex-grow: 1;
    font-size: 0;
  }
  .main .board-dices form {
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .main .board-dices form label {
    padding: 0;
    font-size: 4rem;
  }
}
.footer {
  color: white;
  background-color: black;
  padding: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
