@charset "UTF-8";
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes rotate_dice {
  0% {
    color: black;
    transform: rotate(0);
  }
  50% {
    color: darkgoldenrod;
  }
  100% {
    color: black;
    transform: rotate(720deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
}
.header .logo {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.header .logo h1 {
  font-size: 2.7rem;
  padding: 1rem 2rem;
  z-index: 1;
  font-family: "Imperial Script", cursive;
  text-shadow: 1px 1px 1px black, 2px 2px 2px darkgoldenrod;
  text-transform: capitalize;
}
.header .logo i {
  position: absolute;
  color: gold;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%) rotate(-20deg);
  font-size: 5rem;
}
.header .nav {
  flex-grow: 4;
  background-color: black;
  display: flex;
  align-items: center;
  display: none;
}
.header .nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header .nav ul li {
  padding: 0 2rem;
}
.header .nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.header .nav ul li a:hover {
  color: gold;
}

.main {
  position: relative;
  border-radius: 3rem;
  background-color: white;
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}
.main .start-game-screen {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  animation: fadeIn 1.5s 0.6s ease both;
}
.main .start-game-screen a {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  display: block;
  background-color: gold;
  border-radius: 100vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1rem;
  transition: 0.3s ease;
}
.main .start-game-screen a:hover {
  background-color: goldenrod;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  color: black;
}
.main .flash {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 2rem 3rem;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  z-index: 1;
  text-align: center;
  border-radius: 100vh;
  transform: translate(-50%, -50%);
}
.main .flash i {
  font-size: 2rem;
  animation: rotate_dice 1s ease;
  margin-top: 0.5rem;
}
.main .flash i:nth-of-type(1) {
  animation-delay: 100ms;
}
.main .flash i:nth-of-type(2) {
  animation-delay: 200ms;
}
.main .flash i:nth-of-type(3) {
  animation-delay: 300ms;
}
.main .flash i:nth-of-type(4) {
  animation-delay: 400ms;
}
.main .flash i:nth-of-type(5) {
  animation-delay: 500ms;
}
.main .board {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  padding: 1rem;
}
.main .board-stats {
  padding: 1rem;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}
.main .board-player {
  position: absolute;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.main .board-playerstats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .board-playerinfo {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.main .board-playerinfo__active {
  background-color: gold;
  box-shadow: 3px 3px 5px 2px rgba(184, 134, 11, 0.4);
}
.main .board-dices {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 5rem;
  position: relative;
}
.main .board-dices form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .board-dices form .board-cup {
  height: 8rem;
  width: 8rem;
  color: white;
  font-size: 1rem;
  aspect-ratio: 1;
  padding: 3rem;
  margin: 2rem;
  border-radius: 100vh;
  background-color: red;
  border: 5px solid darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.main .board-dices form .board-cup:hover {
  background-color: darkred;
  box-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, #ff0000 0 0 20px, #ff0000 0 0 30px, #ff0000 0 0 40px, #ff0000 0 0 50px, #ff0000 0 0 75px;
}
.main .board-dices form label {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
}
.main .board-dices form label i {
  transition: 0.3s;
}
.main .board-dices form label i:hover {
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, darkgoldenrod 0 0 20px, darkgoldenrod 0 0 30px, darkgoldenrod 0 0 40px, darkgoldenrod 0 0 50px, darkgoldenrod 0 0 75px;
}
.main .board-dices form label i:after {
  content: "🗘";
  display: block;
  font-size: 2rem;
  transform: rotate(30deg) scale(0);
  position: absolute;
  top: 0;
  right: -2rem;
  opacity: 0;
  transition: all 0.4s, opacity 0.3s 0.1s;
  color: #650000;
}
.main .board-dices form label input {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.main .board-dices form label input:checked + i {
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, #ff0000 0 0 20px, #ff0000 0 0 30px, #ff0000 0 0 40px, #ff0000 0 0 50px, #ff0000 0 0 75px;
  transform: rotate(-30deg) scale(1.1);
}
.main .board-dices form label input:checked + i:hover {
  color: #212121;
}
.main .board-dices form label input:focus-visible + i {
  color: #212121;
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, darkgoldenrod 0 0 20px, darkgoldenrod 0 0 30px, darkgoldenrod 0 0 40px, darkgoldenrod 0 0 50px, darkgoldenrod 0 0 75px;
}
.main .board-dices form label input:checked + i:after {
  opacity: 1;
  animation: rotate 0.4s 0.1s ease-out both;
}
.main .win-text i {
  color: gold;
}
.main .win-playerstats {
  margin: 2rem;
}
.main .win-playerstats .board-playerinfo {
  margin: 2rem;
}
.main ul {
  list-style-type: none;
}

@media all and (max-width: 934px) {
  .main .board-dices {
    flex-grow: 1;
    font-size: 0rem;
  }
  .main .board-dices form {
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .main .board-dices form label {
    padding: 0;
    font-size: 4rem;
  }
}
.footer {
  color: white;
  background-color: black;
  padding: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
