{% extends 'base/default.html' %}
{% block title %}
    Koniec gry!
{% endblock %}

{% block main %}

    <div class="winner-box">
        <h1 class="win-text">
            <i class="fas fa-trophy"></i>
            {% if winner == -1 %}
                Remis!
            {% else %}
                {{ game.players[winner].name }} wygrywa!
            {% endif %}
            <i class="fas fa-trophy"></i>
        </h1>
        <a href="{{ url_for(game.game_type) }}">Zagraj ponownie</a>
        <a href="{{ url_for('index') }}">Menu główne</a>
    </div>
    <div class="win-playerstats">
        {% for player in game.players %}
            <div class="board-playerinfo{% if loop.index0 == winner and winner != -1 %} board-playerinfo__active board-playerinfo__crowned{% endif %}">
                <ul>
                    <li>
                        <b>{{ player.name }}</b>
                    </li>
                    {% for score in player.score %}
                        <li>
                            Runda {{ loop.index }}: {{ score }}pkt<br>(
                            {% for dice in player.score_dices[loop.index0] %}
                                <i class="fas fa-dice-{% if dice == 1 %}one{% elif dice == 2 %}two{% elif dice == 3 %}three{% elif dice == 4 %}four{% elif dice == 5 %}five{% elif dice == 6 %}six{% endif %}"></i>
                            {% endfor %})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}

    <script src="{{ url_for('static', filename='js/fireworks.js') }}"></script>

{% endblock %}